<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_CHI_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,160}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_CHI_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{184,160}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_GANG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{184,160}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_GANG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,164},{184,160}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{184,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_GIVEUP_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,338},{142,140}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_GIVEUP_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,482},{142,140}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{142,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_HU_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{166,146}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{166,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_HU_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,170},{166,146}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{166,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_PENG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{170,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{170,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BT_PENG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,350},{170,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{170,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operator_ui.png</string>
            <key>size</key>
            <string>{498,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18de05d75c41d033284f2ab928119054:274007b7cf7587bad3972071603a37f2:57f50ca6a85d7d8b9c2efae83bb16e64$</string>
            <key>textureFileName</key>
            <string>operator_ui.png</string>
        </dict>
    </dict>
</plist>
