<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>st0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st12.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st14.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st16.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st18.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st19.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st21.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st22.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st23.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st24.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,88},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st26.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st28.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st29.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st31.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st32.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,172},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st34.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st35.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st36.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st37.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st6.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,256},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st8.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,340},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>st9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,340},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>st.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d82b8a127e025e2d5fefee06c06f8dd:036e9d9bc5d14dd4302d7fd79b10f93e:b8c8a15774f9a5911c4031ddc977cadd$</string>
            <key>textureFileName</key>
            <string>st.png</string>
        </dict>
    </dict>
</plist>
