<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt12.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt15.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,49},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt16.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,49},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt17.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,49},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,53},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,96},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt21.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt22.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,96},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt23.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt25.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,143},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,143},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt27.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,143},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,155},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,190},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt32.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,190},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt33.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt35.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,237},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt36.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,237},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt37.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,237},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,257},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,284},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,284},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yt9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,308},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yt.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ad9eda13542acb1a38a58bc6a3bb680:46ac715e503c223e365800ee114148e7:5e43bf5a93222c6684b6e23c19ca8e84$</string>
            <key>textureFileName</key>
            <string>yt.png</string>
        </dict>
    </dict>
</plist>
